/* customDataTableStyles.css */
.dataTables_length label {
    display: flex;
    align-items: center;
}

.dataTables_length label select {
    margin-left: 8px; /* Add space between label and dropdown */
}

/* Capitalize the word 'entries' */
.dataTables_length label:before {
    content: 'Show ';
    text-transform: uppercase; /* Capitalize text */
}
